
StockSystem/Demo/obj/Debug/

StockSystem/StockSystem/obj/Debug/

*.cache

StockSystem/.vs/

StockSystem/RestaurantManager.Infrastucture/obj/Debug/

StockSystem/RestaurantManager.Infrastucture/obj/

StockSystem/StockSystem/obj/

StockSystem/RestaurantManager.Infrastructure.EntityFramework/obj/

StockSystem/StockSystem/bin/Debug/

StockSystem/RestaurantManager.Infrastucture/bin/Debug/

StockSystem/RestaurantManager.Infrastructure.EntityFramework/bin/Debug/

StockSystem/Demo/bin/Debug/

StockSystem/.idea/

StockSystem/RestaurantManager.Utils/bin/Debug/

StockSystem/RestaurantManager.Utils/obj/Debug/
