
StockSystem/Demo/obj/Debug/

StockSystem/StockSystem/obj/Debug/

*.cache

StockSystem/.vs/

StockSystem/RestaurantManager.Infrastucture/obj/Debug/

StockSystem/RestaurantManager.Infrastucture/obj/

StockSystem/StockSystem/obj/

StockSystem/RestaurantManager.Infrastructure.EntityFramework/obj/

StockSystem/StockSystem/bin/Debug/

StockSystem/RestaurantManager.Infrastucture/bin/Debug/

StockSystem/RestaurantManager.Infrastructure.EntityFramework/bin/Debug/

StockSystem/Demo/bin/Debug/

StockSystem/.idea/

StockSystem/RestaurantManager.Utils/bin/Debug/

StockSystem/RestaurantManager.Utils/obj/Debug/

StockSystem/RestaurantManager.BussinessLayer/bin/Debug/

StockSystem/RestaurantManager.BussinessLayer/obj/Debug/

StockSystem/RestaurantManager.DAL.Tests/obj/Debug/

StockSystem/RestaurantManager.DAL.Tests/bin/Debug/

StockSystem/RestaurantManager.BussinessLayer.Test/bin/Debug/

StockSystem/RestaurantManager.BussinessLayer.Test/obj/Debug/

StockSystem/Web/obj/Debug/

StockSystem/RestaurantManager.DAL/bin/Debug/

StockSystem/RestaurantManager.DAL/obj/Debug/

StockSystem/RestaurantManager.Infrastracture.EntityFramework/bin/Debug/

StockSystem/RestaurantManager.Infrastracture.EntityFramework/obj/Debug/

StockSystem/RestaurantManager.Infrastructure/bin/Debug/

StockSystem/RestaurantManager.Infrastructure/obj/Debug/
