
RestaurantManager/.vs/

RestaurantManager/RestaurantManager.DAL/obj/Debug/

RestaurantManager/packages/

RestaurantManager/RestaurantManager.Utils/obj/Debug/

RestaurantManager/RestaurantManager.DAL.Test/obj/Debug/

RestaurantManager/RestaurantManager.DAL.Test/bin/Debug/

RestaurantManager/RestaurantManager.DAL/bin/Debug/

RestaurantManager/RestaurantManager.Utils/bin/Debug/

RestaurantManager/RestaurantManager.Infrastructure/obj/Debug/

RestaurantManager/RestaurantManager.Infrastructure.EF/obj/Debug/

RestaurantManager/RestaurantManager.Infrastructure/bin/Debug/

RestaurantManager/RestaurantManager.Infrastructure.EF.Test/bin/Debug/

RestaurantManager/RestaurantManager.Infrastructure.EF.Test/obj/Debug/

RestaurantManager/RestaurantManager.Infrastructure.EF/bin/Debug/
