
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Welcome!</h2>

@if (User.IsInRole("Owner"))
{
    <p class="lead">You can manage our products and see info about customers</p>
}
else
{
    <p class="lead">Check out our offer at products section...</p>
}

@if (!User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Log in!", "Login", "Account")
    <br />
    @Html.ActionLink("Register your company!", "Register", "Account")
}

